Food Distribution/App_WebReferences/localhostws/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Exchange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="co" type="tns:Coins" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Coins">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExchangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExchangeResult" type="tns:Coins" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newCoin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nu" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="na" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newCoinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newCoinResult" type="tns:Coins" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="co" type="tns:Coins" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNuResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="co" type="tns:Coins" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExchangeSoapIn">
    <wsdl:part name="parameters" element="tns:Exchange" />
  </wsdl:message>
  <wsdl:message name="ExchangeSoapOut">
    <wsdl:part name="parameters" element="tns:ExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="newCoinSoapIn">
    <wsdl:part name="parameters" element="tns:newCoin" />
  </wsdl:message>
  <wsdl:message name="newCoinSoapOut">
    <wsdl:part name="parameters" element="tns:newCoinResponse" />
  </wsdl:message>
  <wsdl:message name="getNuSoapIn">
    <wsdl:part name="parameters" element="tns:getNu" />
  </wsdl:message>
  <wsdl:message name="getNuSoapOut">
    <wsdl:part name="parameters" element="tns:getNuResponse" />
  </wsdl:message>
  <wsdl:message name="getNaSoapIn">
    <wsdl:part name="parameters" element="tns:getNa" />
  </wsdl:message>
  <wsdl:message name="getNaSoapOut">
    <wsdl:part name="parameters" element="tns:getNaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <wsdl:input message="tns:ExchangeSoapIn" />
      <wsdl:output message="tns:ExchangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="newCoin">
      <wsdl:input message="tns:newCoinSoapIn" />
      <wsdl:output message="tns:newCoinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNu">
      <wsdl:input message="tns:getNuSoapIn" />
      <wsdl:output message="tns:getNuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNa">
      <wsdl:input message="tns:getNaSoapIn" />
      <wsdl:output message="tns:getNaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <soap:operation soapAction="http://tempuri.org/Exchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newCoin">
      <soap:operation soapAction="http://tempuri.org/newCoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNu">
      <soap:operation soapAction="http://tempuri.org/getNu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNa">
      <soap:operation soapAction="http://tempuri.org/getNa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <soap12:operation soapAction="http://tempuri.org/Exchange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newCoin">
      <soap12:operation soapAction="http://tempuri.org/newCoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNu">
      <soap12:operation soapAction="http://tempuri.org/getNu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNa">
      <soap12:operation soapAction="http://tempuri.org/getNa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="http://localhost:2922/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="http://localhost:2922/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>